<ion-content>

  <form [formGroup]="form">
    <div class="mb-3">
      <label for="inputNome" class="form-label">Nome completo</label>
      <input formControlName="name" type="text" class="form-control" id="inputNome">
    </div>
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email</label>
      <input formControlName="email" type="email" class="form-control" id="inputEmail">
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Senha</label>
      <input formControlName="password" type="password" class="form-control" id="inputPassword">
    </div>
    <button type="submit" class="btn btn-primary" (click)="enviarUsuario()" [disabled]="form.invalid">Fazer cadastro</button>
  </form>

</ion-content>
