<ion-header>
  <ion-toolbar>
    <ion-title>Serviços Dourado's</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/cadastro-servico" routerDirection="forward">
        <ion-icon slot="start" name="add"></ion-icon>
      </ion-button>
      <ion-button routerLink="/login" routerDirection="back" (click)="this.usrService.deslogar()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="atualizarServicos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="list-group">
    <div class="card" style="width: 18rem;" *ngFor="let servico of servicos$|async">
      <div class="card-body">
        <h5 class="card-title">{{ servico.nome }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">R$ {{ servico.preco }}</h6>
        <p class="card-text">{{ servico.descricao }}</p>
        <a class="card-link" (click)="abrirModalEditar(servico)">Editar serviço</a>
        <a class="card-link text-danger" (click)="excluirServico(servico)">Excluir serviço</a>
      </div>
    </div>
  </div>
</ion-content>
