<ion-content>

  <form [formGroup]="form">
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email</label>
      <input formControlName="email" type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Senha</label>
      <input formControlName="password" type="password" class="form-control" id="inputPassword">
    </div>
    <div class="mb-3">
      <label class="form-text" routerLink="/cadastro" routerDirection="forward">Não tem cadastro? <button class="btn btn-light">Faça o seu!</button></label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="fazerLogin()" [disabled]="form.invalid">Fazer login</button>
  </form>

</ion-content>
