<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEditMode ? 'Editar' : 'Cadastrar' }} serviço</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="servicos" (click)="fecharModal()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="ic">

  <form [formGroup]="form">
    <div class="mb-3">
      <label for="inputNome" class="form-label">Nome do serviço</label>
      <input formControlName="nome" type="text" class="form-control" id="inputNome">
    </div>
    <div class="mb-3">
      <label for="inputPreco" class="form-label">Preco do serviço</label>
      <div class="input-group mb-3">
        <span class="input-group-text">R$</span>
        <input formControlName="preco" type="number" class="form-control ion-text-end" id="inputPreco">
        <span class="input-group-text">,00</span>
      </div>
    </div>
    <div class="mb-3">
      <label for="inputDescricao" class="form-label">Descrição do serviço</label>
      <input formControlName="descricao" type="text" class="form-control" id="inputDescricao">
    </div>
    <button type="submit" class="btn btn-primary" (click)="enviarServico()" [disabled]="form.invalid">{{ isEditMode ? 'Editar' : 'Cadastrar' }} serviço</button>
  </form>

</ion-content>
